* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x:hidden;
}
header {
    height: 95px;
}
.carousel {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: calc(100vh - 95px);
    background-color: blue;
    overflow: hidden;
    position: relative;
   
}

.img-carousel {
    width: 100%;

}

.box-car-1 {
    height: 500px;
    background-color: rgb(64, 64, 64, .9);
}