h2{
    color: blue;
    font-family:'waltograph';
}

/* waltograph - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'waltograph';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/waltograph42.otf'); /* IE9 Compat Modes */
    src: url('../waltographUI.ttf'), /* IE6-IE8 */
         
  }