body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
    color: white;
    margin: 30px;
    padding: 0;
    background-color: #eb5d0b;
    border-radius: 10px;
}

h2, h3 {
    margin-bottom: 10px;
    text-align: center;
    color: rgb(235, 93, 11);
}

nav ul.menu {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    background-color: #eb5d0b;
    overflow: hidden;
    border-radius: 10px;
}

nav ul.menu li {
    float: left;
}

nav ul.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul.menu li a:hover {
    background-color: #ddd;
    color: #eb5d0b;
}

nav ul.menu ul {
    display: none;
    position: absolute;
    background-color: #eb5d0b;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    list-style-type: none;
}

nav ul.menu li:hover>ul {
    display: inherit;
    color: #eb5d0b;
}

nav ul.menu ul li {
    float: none;
    width: 200px;
}

nav ul.menu ul a {
    padding: 8px 16px;
    color: white;
}

nav ul.menu ul a:hover {
    background-color: #ddd;
}

.img_logo {
    margin: 0 auto;
    display: block;
    max-width: 100%;
    height: auto;
}

/* Media Queries para dispositivos móviles */
@media screen and (max-width: 600px) {
    nav ul.menu {
        display: flex;
        flex-direction: column;
    }

    nav ul.menu li {
        float: none;
        width: 100%;
    }

    nav ul.menu li a {
        text-align: left;
    }

    nav ul.menu ul {
        position: static;
        display: none;
    }

    nav.img_logo {


    }
}
